**/node_modules/**
.bak
.src
.trash
.history/
.vscode/chrome
dist/
chaincode-person/
chaincode-solidary-network-chaincode
packages/server-graphql/config/koakh.com
packages/server-graphql/config/solidarychain.com
.env
prod.env
hurley-network-topology/
.deleted-from-root/
chaincode-solidary-network-chaincode.tgz
sncc.pak
